.animation {
  opacity: 0;

  position: relative;
  animation: intro .1s ease-in-out;
  animation-fill-mode: forwards;
  
  
  &_name {
    animation-delay: .2s;
  }
  &_lastName {
    animation-delay: .3s;
  }
  &_nationality {
    animation-delay: .4s;
  }
  &_email {
    animation-delay: .5s;
  }
  &_birth {
    animation-delay: .6s;
  }
  &_gender {
    animation-delay: .7s;
  }
  &_password {
    animation-delay: .8s;
  }
  &_confirmPassword {
    animation-delay: .9s;
  }
}

.reject {
  animation: reject 1s ease-in-out ;
  animation-delay: .4s;

}

@keyframes intro {
  0% {
    opacity: 0;
    top: 030px;
  }
  
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes reject {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}