.form {
  flex: 1;
  padding: 35px 18px 33px 23px;
  position: relative;
  overflow: hidden;
}

.form__title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: -3px;
}

.form__lid {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 11px;
}


.form__row {
  display: flex;
  gap: 15px;
  &_sign {
    padding-top: 85px;
  }
  @media (max-width: 865px) {
    flex-direction: column;
  }
}

.form__column {

  flex: 1;
  &_btn {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 865px) {
      justify-content: start;
    }
  }
}

.form__birthday {
  display: flex;
  @media (max-width: 865px) {
    flex-direction: column;
  }
}