.form {
  flex: 1;
  padding: 20px 38px 22px 32px;
}

.form__title {
  font-size: 22px;
  font-weight: 500;
}

.form__lid {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.form__row {
  display: flex;
  gap: 15px;
  &_sign {
    padding-top: 82px;
  }
}

.form__column {
  flex: 1;
  display: flex;
  &_btn {
    justify-content: end;
  }
}

.form__birthday {
  display: flex;
}

.form__account {
  font-size: 13px;
}

.form__login {
  color: var(--color-blue);
  font-weight: 500;
  text-decoration: underline;
}