.success {
  display: none;
  padding: 217px 0px 44px 21px;
}

.success__info {
  margin-bottom: 152px;
  margin-left: 43px;
}

.success__title {
  font-size: 22px;
  font-family: "WorkSans", sans-serif;
  font-weight: 500;
}

.success__lid {
  font-size: 14px;
  font-family: "WorkSans", sans-serif;
  font-weight: 300;
}
